
html, body {
    height: 100%;
    font-family: monospace;
}
p{
    font-family: 'Courier New', Courier, monospace ;
}
body{
    overflow-x:hidden;  
    overflow-y: hidden;
}
.topcornerexit{
    position:absolute;
    top:10px;
    right: 10px;
    font-size: 8rem;
    z-index: inherit;
 }
.topcornerexit:hover{
    color: blueviolet;
}
h1, h3{
    font-family: monospace;
}
.owl{
    position: absolute;
}
.nodisplay{
    display:none;
}
.z-1{
    z-index: -1;
}
.z-2{
    z-index: -2;
}
.z-3{
    z-index: -3;
}
.z-4{
    z-index: -4;
}
.side-item {
    color: white;
    background-size: 100% 100%;
    transition: background-size 0.5s ease;
    filter: blur(1px);
}
.contact{
    background-image: url("images/cntl.png");
    box-shadow:inset 0 0 0 2000px rgba(0, 75, 55, 0.8);
    
}
.side-item:hover{
    background-size: 110% 110%;
    filter: blur(0);
}

.askus{
    background-image: url("images/askus.jpg");
    box-shadow:inset 0 0 0 2000px rgba(126, 82, 0, 0.8);
    
}
.profile{
    background-image: url("images/profile.jpg");
    box-shadow:inset 0 0 0 2000px rgba(5, 43, 48, 0.8);
    
}
.about{
    background-image: url("images/about.jpg");
    box-shadow:inset 0 0 0 2000px rgba(134, 37, 60, 0.8);
    
}
.main-logo{    
    background-image: url("images/logo.jpg");
    background-position: center;
    background-size:50%;
    background-repeat: no-repeat;
    background-color: #f7f7f7;
}
.smoothed {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.contact-icon{
    font-size: 30px;
}
.contact-icon:hover{
    color: rgb(134, 37, 60);
}
.icon-row{
    margin-top: 40px;
}
.cnt-frm {
    background: rgb(6, 22, 22);
    color: white;
}
.prf-frm{
    background: rgb(2, 18, 20);
}
.bt-frm{
    background: rgb(14, 4, 6);
}
.sk-frm{
    background-color: rgb(8, 5, 0);
}
.move-on-scroll{
    background-image: url("images/owl.png");
    height: 300px;
    background-repeat: no-repeat;
}
.exit:hover{
    transform: scale(1.1);
}
#loading{
    display: block;
}
.typewriter small {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid black; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black; }
  }